.segment {
    position: relative;
    width: 284px;
    height: 116px;
    left: 50px;
    top: 320px;
}
  
  .button-group {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .segment-button {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #00AAFF;
    border-radius: 20px;
    font-family: 'VTB Group UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00AAFF;
    padding: 10px 15px 5px 10px;
    text-align: center;
  }

  .segment-button:focus {
    background: #082C84;
    border: 0px solid #00AAFF;
    color: #FFFFFF;
  }



.search_office {
    display: flex;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    left: 40px;
    top: 780px;

    background: #1E4BD2;
    border-radius: 10px;

    font-family: 'VTB Group UI';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;

}