.menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 25%;
    height: 100vh;
    left: 0px;
    top: -10%;
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 1;
}

#input-container {
    display: flex;
    padding-top: 1%;
    left: 32px;
    top: 225px;
  }
  
  #input {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 350px;
    height: 45px;
    background: #DCE0EB;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
  }
  
  .segment {
    display: flex;
    width: 284px;
    height: 116px;
    left: 50px;
    top: 320px;
}
  
  .button-group {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .segment-button {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #00AAFF;
    border-radius: 20px;
    font-family: 'VTB Group UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00AAFF;
    padding: 10px 15px 5px 10px;
    text-align: center;
  }

  .segment-button:focus {
    background: #082C84;
    border: 0px solid #00AAFF;
    color: #FFFFFF;
  }



.search_office {
    display: flex;
    margin-top: 20px;
    width: 350px;
    height: 50px;
    left: 40px;
    top: 780px;

    background: #1E4BD2;
    border-radius: 10px;

    font-family: 'VTB Group UI';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;

}


.bank-branch-container {
    padding-top: 500px;
    padding-left: 30px;
    width: 359px;
  }
  
  h3 {
    font-family: 'VTB Group UI';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid #DCE0EB;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .branch-card {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 2px;
  }
  
  .branch-card:hover {
    background-color: rgba(0, 0, 0, 0.05);  /* при наведении плашка немного темнеет */
  }
  
  .branch-card img {
    width: 35px;
    height: 45px;
    margin-right: 10px;
  }
  
  .branch-card p {
    font-family: 'VTB Group UI';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }

  #offices {
    display: none;
  }

  #atms {
    display: none;
  }